<launch>

    <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]" />  
    <arg name="environment" default="turtlebot3_world" doc="environment type [empty, turtlebot3_autorace_2020, turtlebot3_autorace, turtlebot3_house, turtlebot3_stage_1, turtlebot3_stage_2, turtlebot3_stage_3, turtlebot3_stage_4, turtlebot3_world]" />


    <include file="$(find project)/launch/turtlebot3_world.launch">
        <arg name="model"  value="$(arg model)"/> 
        <arg name="environment"  value="$(arg environment)" />


    </include>

    <include file="$(find project)/launch/turtlebot3_navigation.launch">
        <arg name="model"  value="$(arg model)"/> 
    </include>

</launch>
